 #jogo {
		width: 300px;
		height: 450px;
		
        background: #356883;
        text-align: center;
       
        margin-right: auto;
        margin-left: auto;
        margin-top:0%;
        position:absolute;
    }

#cadastro{  
width:200px;
height: 100px;
display: inline-block;
background: #356883;

padding-bottom: 30px;
top:50%;
left: 50%;
text-align: center;

}
  

  #jogo-dados
{
    width: 300px;
	height:150px;
    background: #356883;
    text-align: center;
     margin-right: auto;
     margin-left: auto;

}